<header>
  <img src="assets/je-logo.png" class="logo">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo">
        </div>
      </div>
      <div class="mobile-menu-container">
        <div class="menu-icon" (click)="openMenu()">
          <i class="{{menu_icon}}"></i>
        </div>
        <div class="desktop_menu" [class.mobile_menu]="menuValue">
          <ul>
            <li (click)="closeMenu(); goToPart('home')">Home</li>
            <li (click)="closeMenu(); goToPart('about')"><a>About Me</a></li>
            <li (click)="closeMenu(); goToPart('experience')">Experience</li>
            <li (click)="closeMenu(); goToPart('technologies')"><a>Technologies</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<div #aboutSection id="about"></div>
