<div class="about-container" [appScrollVisibility]="'.column'">
  <div class="column left-column">
    <!-- Left column content -->
    <img src="assets/juan-face.png" class="profile-pic" alt="Juan's face">
  </div>
  <div class="column right-column">
    <!-- Right column content -->
    <h2>About myself</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam esse eum ex facilis fugit odio provident quia quibusdam repellat suscipit? Iste modi mollitia nulla sint ullam? Eaque eum hic tempora? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur cum facere rem sint. Est id magnam, maiores nemo nostrum odio officiis quasi qui quisquam quod sint ullam venasd. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eligendi ipsam libero maxime minus quasi tempora voluptas. Dolore est libero rerum tenetur? Eum in iste nihil quam quas quo tempora?</p>
  </div>
</div>
