@import "../../styles.scss";

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
}

.profile-pic {
  margin-right: 1em;
  max-width: 90%;
  max-height: 90%;
  height: auto;
  border-radius: 50%;
}

.column {
  flex: 1;
  padding: 1em;
  opacity: 0;
  display: none;
}

.left-column {
  background-color: $page-background;
  margin-left: 3em;
  transform: translateX(-100%);
}

.right-column {
  background-color: $page-background;
  margin-right: 4em;
  transform: translateX(100%);
}

.left-column.in-view {
  animation: slideInLeft 1s ease-out forwards;
  display: block;
  opacity: 1;
}

.right-column.in-view {
  animation: slideInRight 1s ease-out forwards;
  display: block;
  opacity: 1;
}

@media screen and (min-width: 128px) and (max-width: 900px) {
  .column {
    flex: 100%;
  }
}
