<div class="about-container" [appScrollVisibility]="'.column'">
  <div class="column left-column">
    <!-- Left column content -->
    <img src="assets/juan-face.png" class="profile-pic" alt="Juan's face">
  </div>
  <div class="column right-column">
    <!-- Right column content -->
    <h2>About myself</h2>
    <p>Hi, I'm Juan. My passion for software development started with my interest in maths and technology in school. Building my PC sparked my interest in hardware, which then led me to discover programming.</p>
    <p>I specialise in backend development, focusing on performance optimisation, security, integrations, and business logic processing. 
      My career goal is to become the best developer I can be while learning from others as well as helping others along the way.</p>
    <p> I believe this field has unlimited potential, which motivates me to continuously improve and learn something new every day.</p>
  </div>
</div>