<div class="about-container" [appScrollVisibility]="'.column'">
  <div class="column left-column">
    <!-- Left column content -->
    <img src="assets/juan-face.png" class="profile-pic" alt="Juan's face">
  </div>
  <div class="column right-column">
    <!-- Right column content -->
    <h2>About myself</h2>
    <p>Hi my name is Juan and I love to solve problems through software solutions.
      What inspired me to code was first ignited by my passion for maths and technology. I built my first PC which got me interested in hardware.
    A bit later on, I was able to have a feel for higher level programming which I then pursued after enjoying it more. </p>
    <p> I am interested primarily in backend software development with .NET being the framework I have had the most experience with. My goal in my career is to be the best engineer I could be- learning from and helping others along the way.</p>
    <p> I believe there is no limit to what you can do in this field and it strives me to improve and learn more everyday.</p>
  </div>
</div>
