@use "../shared/variables" as *;


.carousel {
  overflow: hidden;
  padding: 0.2em 0;
  width: 95%;
  background: $page-background;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .carousel {
    padding: 0.1em 0;
    width: 98%;
  }
}

.carousel:before,
.carousel:after {
  position: absolute;
  top: 0;
  width: 5em;
  height: 100%;
  content: "";
  z-index: 2;
}

.carousel:before {
  left: 0;
}

.carousel:after {
  right: 0;
}

.scroll-container {
  overflow: hidden;
  width: 100%;
}

.scroll-track {
  display: flex;
  animation: scroll 30s linear infinite;
}

.scroll-item {
  height: 28em;
  width: 280px;
  flex-shrink: 0;
  object-fit: contain;
  margin-right: 2rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-280px * 16 - 2rem * 16));
  }
}

@media screen and (max-width: 480px) {
  .scroll-item {
    height: 20em;
    width: 200px;
    margin-right: 1rem;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 16 - 1rem * 16));
    }
  }
}