/* You can add global styles to this file, and also import other style files */
@import 'bootstrap-icons/font/bootstrap-icons.min.css';
@import 'font-awesome/css/font-awesome.min.css';

@font-face {
  font-family: gugi;
  src: url(/assets/fonts/gugi/Gugi-Regular.ttf) format('truetype')
}

$orange: #ffa213;
$page-background: #2A2A2A;
$blue-theme: #5ce1e6;

html, body {
  margin: 0;
  padding: 0;
  background-color: $page-background;
  height: 100%
}

.menu-icon {
  color: black;
}
