/* You can add global styles to this file, and also import other style files */
@import 'bootstrap-icons/font/bootstrap-icons.min.css';
@import 'font-awesome/css/font-awesome.min.css';

@font-face {
  font-family: gugi;
  src: url('assets/fonts/gugi/Gugi-Regular.ttf') format('truetype')
}

$orange: #ffa213;
$page-background: #2A2A2A;
$blue-theme: #91d3d6;
$text: #d9d9d9;

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}



html, body {
  margin: 0;
  padding: 0;
  background-color: $page-background;
  height: 100%
}

.menu-icon {
  color: black;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background: $page-background; /* Match the background */
}

::-webkit-scrollbar-thumb {
  background-color: $text; /* Match the text color */
  border-radius: 10px;
  border: 3px solid $page-background; /* Match the background */
}

h2 {
  font-family: gugi, serif;
  font-size: 3.5em;
  color: $text;
}

/* Mainly for the timeline section */
h3 {
  font-family: gugi, serif;
  font-size: 2em;
  color: $text;
  line-height: 1.1;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5em;
  color: $text;
  line-height: 1.5;
  font-style: italic;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3em;
  color: $text;
  line-height: 1.5;
}
