@import "../../styles.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container img {
  display: block;
  margin: 5em auto 6em;
  padding-bottom: 8em;
  max-width: 100%;
  height: auto;
}

.arrow-button {
  position: absolute;
  bottom: 4em;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  color: $text;
  opacity: 1;
}

.arrow-button.hidden {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 480px) {
  .container {
    padding: 0.5em;
  }

  .container img {
    margin: 10em auto 2em;
    padding-bottom: 30em;
  }
  .arrow-button {
    font-size: 4.5em;
  }
}
