@import "../../styles.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container img {
  display: block;
  margin: 5em auto 6em;
  padding-bottom: 8em;
  max-width: 100%;
  height: auto;
}

.scroll-icon {
  font-size: 2em;
  color: $text;
  cursor: pointer;
  margin-top: -5em;
  transition: color 0.3s ease-in-out, opacity 0.5s ease-in-out;

  &:hover {
    color: $blue-theme;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1em;
  }

  .container img {
    margin: 2em auto 3em;
    padding-bottom: 4em;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.5em;
  }

  .container img {
    margin: 10em auto 2em;
    padding-bottom: 30em;
  }
}
